p {
    color:rgb(3, 3, 3);
  }
  #para1 {
     text-align: center; 
     color: rgb(169, 169, 242);
  }
  .class1 {
      text-align: right; 
      color: rgb(114, 49, 149);
   }
   .class2 {
      text-align: right; 
      color: rgb(114, 49, 149);
   }
   p.class1 {
      text-align: left;
      color:rgb(49, 149, 57);
   }
   